/* Center the chessboard */
body {
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.main {
    background-color: gray;
    width: 700px;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chessboard {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    width: 600px;
    height: 600px;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px; /* Adjust icon size */
}

.white {
    background-color: white;
}

.black {
    background-color: black;
    color: white;
}
.rook{
    color: white;
}